<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SANJAY-PC\SQLEXPRESS_northstarmls_Connection" connectionString="XpoProvider=MSSqlServer;data source=SANJAY-PC\SQLEXPRESS;integrated security=SSPI;initial catalog=northstarmls" />
      <add name="RGNTL" connectionString="Data Source=SANJAY-PC\SQLEXPRESS;Initial Catalog=rgntl;User ID=rgntl_sa;Password=rgntl_password;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>